* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  outline: none;
  border: none;
  background: none;
}
.main {
  background-image: url(./images/bg-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 61px;
}
/* main */
/* language */
.language {
  display: flex;
  justify-content: center;
  text-align: center;
}
.language__lang {
  width: 77px;
  height: 39px;
  padding: 10px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 0.5px solid #f7f0ec;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.language__img {
  height: 77px;
}

.language__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.language .language__lang:first-child {
  margin-right: 8px;
}
.language__lang:hover {
  transform: scale(1.1);
}
.language__consult {
  border-radius: 50px;
  border: 0.5px solid #f7f0ec;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 260px;
  height: 39px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.language__consult:hover {
  transform: scale(1.1);
}
hr {
  height: 0.5px;
  background: #fff;
}
/* language */
/* header */

a {
  color: inherit;
  text-decoration: none;
}
.header {
  padding: 17px 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  max-width: 656px;
  margin: 0 auto;
}
.header__link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.header__link:hover {
  color: #bd8909;
  transition: 0.6s;
}
/* header */
/* main */
.main__wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 686px;
}
.main__title {
  margin-top: 83px;
  font-size: 60px;
  font-weight: 500;
  line-height: 65px;
  color: #fff;
}
.main__title span {
  color: #bd8909;
}
.main__desc {
  color: #f7f0ec;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin: 29px 0 58px;
}
.main__input {
  border-radius: 70px;
  width: 633px;
  height: 54px;
  padding: 15px 20px;
  gap: 10px;
  border: 1px solid #f7f0ec;
  color: rgba(247, 240, 236, 0.8);
  font-size: 18px;
  font-weight: 500;
}
.main__button {
  position: absolute;
  top: 50%;
  right: 38px;
  transform: translateY(-50%);
}
.main__relative {
  position: absolute;
}
/* main */
/* about */
.about {
  padding: 134px 0 133px;
  background: #f7f0ec;
  position: relative;
}
.about__container {
  max-width: 1248px;
  padding: 0 15px;
  margin: 0 auto;
}
.about__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 178px;
}
.about__title {
  color: #1b1b1b;
  font-size: 60px;
  font-weight: 400;
  line-height: 65px;
}
.about__title span {
  color: #bd8909;
}
.about__desc {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin: 22px 0 77px;
}
.about__link {
  text-decoration: underline;
  color: rgba(80, 67, 67, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.about__images {
  height: 633px;
  position: relative;
}
.about__images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about__granite {
  position: absolute;
  bottom: 78px;
  left: -155px;
}
.about__grades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  max-width: 460px;
}
.about__num {
  color: #bd8909;
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
  text-align: center;
  border-bottom: 1px solid #bd8909;
}
.about__info {
  color: #1f2426;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
}

/* about */

/* room */
.room {
  background-image: url(./images/room.png);
  height: 468px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* room */
/* gallery */
.gallery {
  background: #1f2426;
  padding: 121px 0 101px;
}
.gallery__container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1248px;
}
.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 33px;
}
.gallery__image-sm {
  height: 397px;
}
.gallery__image-sm img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery__image-lg {
  height: 558px;
}
.gallery__image-lg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery__desc {
  color: #f7f0ec;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 51px;
  max-width: 200px;
}
/* gallery */
/* catalog */
.catalog{
  background: #1F2426;
  padding: 106px 0 85px;
}
.catalog__flex{
 display: flex;
 justify-content: space-between;
 margin-bottom: 119px;
 align-items: center;
}
.catalog__title{
 color: #F7F0EC;
font-size: 60px;
font-weight: 400;
line-height: 65px; 
}
.catalog__link{
 color: #F7F0EC;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px;
max-width: 298px;
}
.catalog__wrapper{
 display: grid;
 grid-template-columns:repeat(6,1fr);
 column-gap: 29px;
}

.catalog__container{
 margin: 0 auto;
 max-width: 1248px;
 padding: 0 15px;
}
.catalog__img{
 height: 350px;
 border-radius: 24px;
 overflow: hidden;
 position: relative;
}
.catalog__img img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.catalog__subtitle{
color: #FFF;
font-size: 24px;
font-weight: 700;
line-height: 25px;
margin: 14px 0 5px;
}
.catalog__desc{
color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 25px; 
}

.catalog__arrow{
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
}
.catalog__heart{
 position: absolute;
 right: 19px;
 bottom: 14px;
}
.catalog__line{
 margin-top: 55px;
 text-align: center;
}

/* catalog */

.testimonials{
 padding: 85px 0 156px;
}
.testimonials__container{
 max-width: 780px;
 margin: 0 auto;
 padding: 0 15px;
}
.testimonials__title{
 color: #504343;
text-align: center;
font-size: 60px;
font-weight: 400;
line-height: 65px; 
}
.testimonials__wrapper{
 margin-top: 140px;
 display: grid;
 grid-template-columns: repeat(5,1fr);
 column-gap: 62px;
 display: flex;
 justify-content: flex-end;
 position: relative;
}
.testimonials__img{
 height: 100px;
 border-radius: 50%;
 overflow: hidden;
}
.testimonials__img img{
width: 100%;
height: 100%;
object-fit: cover;
}

.testimonials__content{
 margin-top: 28px;
 padding: 76px 152px 68px 93px;
 border: 1px solid #BD8909;
}


.testimonials__absolute:hover{
 position: absolute;
 width: 220px;
 height: 220px;
 left: -95px;
 top: -59px;
}